section {
  width: 100%;
}

section h1 {
  text-align: center;
  margin-top: 3em;
  color: #222;
  font-size: 2em;
}


section h1 span {
  background: linear-gradient(180deg, #0f6fff, #8876d8);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  margin-top: 7em;
}