.footer {
  color: black;
  padding: 1em;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social_list li {
  width: 5em;
  margin: 0 .3em;
  color: #222
}


a,
a:visited {
  color: #222;
}

a:hover {
  color: #0f6fff;
}

.social_list svg {
  font-size: 2em;
  cursor: pointer;
}

.social_list span {
  font-size: .9em;
}

@media (max-width: 1155px) {
  .footer {
    margin-top: 7em;
  }
}