.text_card {
  min-width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 3em;
}

.text_card h3 {
  font-size: 1.3em;
  text-align: center;
}

.text_card p {
  text-align: justify;
  word-break: break-word;
  margin-top: 1em;
  font-size: 1.1em;
  color: #222;
  max-width: 35em;
  margin-bottom: 4em;
}

@media (max-width: 630px) {
  .text_card p {
    text-align: left;
    word-break: break-word;
  }
}